@using jornAPP.Services
@inherits LayoutComponentBase
@inject ThemeService ThemeService

<div class="app-container @(ThemeService.IsDark ? "dark-theme" : "light-theme")">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4 navbar navbar-dark">
                <a class="navbar-brand" href="">jornAPP</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}